html{
    box-sizing:border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
:root{
    --dtail:#6C31EB;
    --card:#B9F538;
    --bg:#FF9F80;
    --black:#000;
    --white:#fff:
}
body{
    background-color: var(--bg);
    color: var(--dtail);
}
h1{
    color: var(--dtail);
    font-size: 4rem;
    text-align: center;
}
.texto{
    color:var(--dtail);
}
.icon{
    font-size: 3rem;
    color:var(--dtail);
}
.list{
    font-size: 2rem;
    list-style-type: square;
    list-style-type: lower-roman;
    list-style-type: upper-roman;
    list-style-type: decimal-leading-zero;
    list-style-type: lower-greek;
    list-style-type: none;
    list-style-image: url("../assets/aves.png");
    list-style-image: none;
}
.list-2 li::before,
.list li::before{
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url("../assets/favicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.list-2{
   list-style-position: inside;
   list-style-type: none;
}
.list-3{
    list-style: lower-greek inside ;
}
.text-column-4{
    list-style-position: inside;
    column-count: 4;
    column-gap: 2rem;
    column-rule: medium dashed var(--card);
    column-width: 100px;
}
