html {
    box-sizing: border-box;
    font-size: 16px;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
:root {
    --bg: #eadeda;
    --primary: #ffd400;
    --card: #d90368;
    --text: #2e294e;
    --title: #820263;
}
body {
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    font-family: "Fira Sans", sans-serif;
}
header {
    width: 100%;
    padding: 0.1rem;
    background-color: var(--primary);
}
h1,
h2 {
    color: var(--title);
    font-size: 2rem;
    text-align: center;
}
h3 {
    text-align: center;
}
.pos-sticky {
    position: sticky;
    top: 0;
}
.box {
    border: thick solid var(--text);
    width: 200px;
    height: 200px;
    margin: 0 auto 3rem;
}
.card {
    border: thick solid var(--text);
    background-color: var(--card);
    width: 600px;
    height: 400px;
    margin: 0 auto 3rem;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}
/* 
Transiciones
  transition-property
  transition-duration
  transition-timing-function: none linear ease ease-in ease-out ease-in-out steps
  transition-delay
  transition: property duration timing-funciton delay
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties
*/
.transition .box {
    background-color: var(--card);
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 0.5s;
    transition: 0.5s ease-in-out;
}
.transition .box:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 2rem;
}
.transition .card {
    transition: opacity 1s ease-out, border-color 2s steps(3), filter 1s 2s,
        box-shadow 1s 3s linear;
}
.transition .card:hover {
    opacity: 0.75;
    border-color: var(--card);
    filter: blur(0.15rem);
    box-shadow: 1rem 1rem 2rem 0.5rem #000;
}
.transition .card img {
    transition: 0.5s;
}
.transition .card img:hover {
    object-position: 100% 50%;
}
.transform-2d img {
    /*transform-origin: left bottom;*/
    transition: 0.5s;
}
.transform-2d img:hover {
    transform: translateX(2rem);
    transform: translateY(4rem);
    transform: translate(4rem, 5rem);
    transform: translate(50%, 50%);
    transform: scale(80%, 80%);
    transform: scale(1.5, 2);
    transform: scale(-1, -1);
    transform: rotateX(45deg);
    transform: rotateZ(45deg);
    transform: skew(30deg, 30deg);
    /*matrix( scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY() )*/
    transform: matrix(0.5, 0.1, 0.1, 0.5, 2, 2);
    transform: rotateZ(45deg) scale(0.5, 0.5) translate(100%);
}
.transform-3d {
    perspective: 100rem;
}
.transform-3d img {
    transition: transform 0.5s ease-in-out;
    /*transform-origin: left bottom;*/
}
.transform-3d img:hover {
    transform: translateZ(4rem);
    transform: perspective(1000px) translateZ(4rem);
    transform: perspective(10rem) translateZ(4rem);
    transform: translateZ(-4rem);
    transform: translate3d(2rem, 20%, 1rem);
    transform: scaleZ(1.5);
    transform: scale3D(1.5, 2, 3);
    transform: rotateX(70deg);
    transform: rotateY(90deg);
    transform: rotate3d(1, 5, 1, 90deg);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 6, 0, 0, 0, 1, 0, 50, 100, 0, 1.1);
}
.flip-card-1,
.flip-card-2{
    border: thick solid var(--text);
    background-color: var(--card);
    width: 600px;
    height: 400px;
    margin: 0 auto 3rem;
    position: relative;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    perspective: 100rem;
    transform-style: preserve-3d;
}
.flip-card-1 img,
.flip-card-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}
.flip-card-2{
    transform-origin: right;
}
.flip-face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-1:hover{
    transform: rotateY(180deg);
}
.flip-card-2:hover{
    transform:translate(-100%) rotateY(180deg);
}
.flip-front{
    transform: rotateY(0deg);
}
.flip-back{
    transform: rotateY(180deg);
}
