html {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
:root {
    --bg: #eadeda;
    --primary: #ffd400;
    --card: #d90368;
    --text: #2e294e;
    --title: #820263;
}
body {
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    font-family: "Fira Sans", sans-serif;
}
header {
    width: 100%;
    padding: 0.3rem;
    background-color: var(--primary);
}
h1 {
    color: var(--title);
    font-size: 3rem;
    text-align: center;
}
.box {
    border: thick solid var(--text);
    width: 200px;
    height: 200px;
    margin: 0 auto 3rem;
}
.card {
    border: thick solid var(--text);
    background-color: var(--card);
    width: 600px;
    height: 400px;
    margin: 0 auto 3rem;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
/* 
Transiciones
  transition-property
  transition-duration
  transition-timing-function: none linear ease ease-in ease-out ease-in-out steps
  transition-delay
  transition: property duration timing-funciton delay
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties
*/
.transition .box{
    background-color: var(--card);
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-delay:.5s;
}
.transition .box:hover{
    background-color: var(--primary);
}
