html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
:root{
    --bg:#252422;
    --primary:#eb5e28;
    --card:#403d39;
    --text:#fffcf2;
    --title:#ccc5b9;
}
body{
    background-color: var(--bg);
    color:var(--text);
    margin: 0;
}
.title{
    color:var(--primary);
    text-align: center;
    font-size: 3rem;
}
h1,
h2{
    margin: inherit;
}
h1{
    color: var(--primary);
}
img{
    max-width: 50%;
    height: auto;
}
[id]{
    scroll-margin-top: 13.4ex;
}
header{
    position: sticky;
    top: 0;
    padding: 0.25rem;
    text-align: center;
    background-color: var(--card);
    color:var(--title);
}
header a,
span{
    margin: 0 1rem;
    font-size: 0.7rem;
    color: var(--text);
}
header a:hover{
    color:var(--primary);
}
.slide{
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    color:var(--text);
    background-color: var(--card);
    text-align: center;
}
.slide:nth-child(even){
    background-color: var(--bg);
}
.slide p{
    text-align: justify;
}
