/* 
Unidades de Medida
  1) Absolutas (Su valor no cambia, son unidades del mundo real)
    pc, cm, mm, in, Q
    pt (1/72in)
    px (1/96in)
  2) Relativas (Su valor es relativo a un contexto)
    em, rem, ex, ch - al tamaño de la fuente
      em - basada en la anchura de la "m" de la fuente del elemento
      rem -  basada en la anchura de la "m" de la fuente del elemento raíz (html)
      ex - basada en la altura de la "x" de la fuente del elemento
      ch - basada en la anchura del "0" de la fuente del elemento
    % - al tamaño del contenedor
    vw, vh, vmin, vmax - al tamaño del viewport
      vw - ancho del viewport van de 1 a 100
      vh - alto del viewport van de 1 a 100
      vmax - entre vw y vh toma el que tenga mayor valor
      vmin - entre vw y vh toma el que tenga menor valor
  Conversiones entre unidades - https://pxtoem.com/
*/
html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
.pixels{
    background-color: cadetblue;
    width: 500px;
    height: 400px;
    padding: 20px;
    font-size: 32px;
    border:thick solid darkorange;
}
.ems{
    background-color: hsl(40, 100%, 80%);
    color:hsl(20, 50%, 15%);
    font-size: 24px;
    padding: 1em 0.5em;
    border:0.75em solid hsl(30, 100%, 50%);
}
.ems__child{
    background-color: hsl(25,100%, 80%);
    border: thick solid hsl(130, 100%, 85%);
    font-size: 2em;
    margin: 0.5em;
    padding: 1em;
}
.rems{
    background-color: hsl(140, 90%, 80%);
    color:hsl(340, 100%, 30%);
    font-size: 24px;
    padding: 1rem 0.5rem;
    border:0.75rem solid hsl(350, 100%, 80%);
}
.rems__child{
    background-color: hsl(180,100%, 50%);
    border: thick solid hsl(200, 80%, 55%);
    font-size: 2rem;
    margin: 0.5rem;
    padding: 1rem;
}
.exs{
    background-color: hsl(0, 00%, 80%);
    color:hsl(0, 0%, 0%);
    font-size: 24px;
    padding: 1ex 0.5ex;
    border:0.75ex solid hsl(0, 0%, 35%);
}
.exs__child{
    background-color: hsl(0,0%, 50%);
    border: thick solid hsl(0, 0%, 100%);
    font-size: 2ex;
    margin: 0.5ex;
    padding: 1ex;
}
.chs{
    background-color: #9EE6B6;
    color:#CA865B;
    width: 10ch;
}
/*#9EE6B6*/
/*#70E99E*/
/*#14EB85*/
/*#CA865B*/

.percentages{
    background-color: #a9c8e1;
    padding: 5%;
    margin: 20% 10%;
    width: 80%;
    height: 100%;
    font-size: 200%;
}
.height{
    background-color:#F18FB6 ;
    width: 500px;
    height: 500px;
}
.height__child{
    background-color:#3A5C7F ;
    width: 50%;
    height: 50%;
}
/*#F2FEFC*/
/*#A9C8E1*/
/*#3A5C7F*/
/*#F18FB6*/
