*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:root {
  font-family: Rubik, sans-serif;
  --title: #fffcf2;
  --title-alpha: #fffcf280;
  --text: #ccc5b9;
  --bg: #403d39;
  --card: #252422;
  --primary: #eb5e28;
  background-color: var(--bg);
  color: var(--text);
}
h1 {
  color: var(--title);
  text-align: center;
}
main {
  flex: 1;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 0;
}
.menu ul {
  list-style-type: none;
}
.menu a {
  color: var(--text);
  text-decoration: none;
}
.hero-image {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://placeimg.com/1280/720/any");
  background-repeat: no-repeat;
  text-align: center;
}
.hero-image h1 {
  font-size: 5vw;
  text-shadow: 0.3rem 0.3rem 1rem #000000cc;
  flex: 1 0 auto;
}
.hero-image h2 {
  font-size: 10vw;
  text-shadow: 0.3rem 0.3rem 1rem #000000cc;
  flex: 4 0 auto;
  color: var(--title-alpha);
}
.flex-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.flex-item {
  text-align: center;
}
.flex-item h2 {
  color: var(--primary);
}
.flex-item img {
  box-shadow: 0.3rem 0.3rem 0.5rem #000b;
  margin: 0.5rem;
}
.flex-responsive {
  display: flex;
  flex-flow: row wrap;
}
.flex-responsive-item {
  flex: 1 1 200px;
  font-size: 1rem;
  border: thin solid var(--primary);
  background-color: var(--card);
}
@media (min-width: 720px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu ul {
    display: flex;
  }
  .menu li {
    padding: 0.5rem;
  }
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .flex-item {
    flex: 0 0 50%;
  }
  .flex-order1 {
    order: 1;
  }
}
.titulares {
  background-color: var(--card);
  padding: 1rem;
  border: medium solid var(--primary);
  border-radius: 1.5rem;
}
img {
  max-width: 100%;
}
